# Google Gemini API key (for the LLM)
GEMINI_API_KEY=AIzaSyAdwVwK_Fq7H8aHd6h1XfmLJGu4DG5CWh8

# Cartesia API key (for STT and TTS)
CARTESIA_API_KEY= sk_car_ALZBhVkJDrbCZjaxQUg8Kd

# Cartesia voice ID (your cloned voice). Get this after cloning at https://play.cartesia.ai
CARTESIA_VOICE_ID= c1adc5f0-5623-4477-9394-32d17ddc39d3
